@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-gradient: linear-gradient(135deg,#13264e 0%,#0d203e 60%,#0c1f3d 100%);
  --primary-color: #13264e;
  --hover-color: #0a3274;
  --accent-color: #0a5adb;
  --text-light: #e3eafccd;
}

* { 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--bg-gradient);
  color: var(--text-light);
  
}

.layout {
  display: flex;
}
.about p{
  font-size: 100%;
}

body.long{
  margin-left: 36.2em;
}

.home-container{
  margin-left: min(50%);
}

h2 {
  color: #25aed87f;
  transition: color 250ms  ease;
}

section > div:hover h2{
  color: #25aed8;
}

h4{
  color: #b0b5ef;
  font-size: 1.3em;
}
section {
  padding: 2em;
  margin: 1.2em;
  border-radius: 12px;
}
section > div {
  background: none;
  margin: 1.5em 0;
  padding: 1.5em;
  border-radius: 10px;
  border: 2px solid rgb(162, 163, 253);
/*  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);*/
  transition: color 250ms  ease;
}
section > div:hover{
  color:#1359c9;
  border: 2px solid rgb(101, 103, 242);
  
}
/*section:hover{
  font-size: 1.1em;
}*/
#open-sidebar-button{
  position: sticky;
}

section> p:hover{
  color: #346fce;
  transition: color 250ms  ease;
}

@media (width <= 700px) {
  nav{
    left: -100%;
    
  }
  .home-container{
    margin-left: 0% ;
  }

  #close-sidebar-button{
  display: flex;
  justify-content: right;
  padding-top: 0;
  }
  #open-sidebar-button{
  display: flex;
  position: fixed;
  top: 0;
  }
  nav ul button{
  padding-left:2em;
  }
  h3{
    gap: 1%;
  }
  nav button{
    padding: 2%;
  }
  nav p{
    display: none;
  }
}
@media (700px < width < 830px){
  .picture img{
    display: none;
  }
}
@media (width > 700px){
  nav.show{
    width: 50%;
  }
  body.long{
  margin-left: 0;
  }
}




