:root {
  --bg-gradient: linear-gradient(300deg,#13264e 0%,#0d203e 60%,#ff0000 100%);
  --primary-color: #13264e;
  --hover-color: #0a3274;
  --accent-color: #0a5adb;
  --text-light: #e3eafc;
}
nav{
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--hover-color);
}

nav{
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: min(15em, 100%);
  z-index: 10;
  border-left: 1px solid var(--hover-color);
  border-right: 1px solid var(--hover-color);
  transition:left 300ms ease-in-out;
}
nav.show{
  left: 0;
}

nav ul{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em 0;
}
nav button{
  display: flex;
  width: 100%;
  color: var(--text-light);
  padding: 1em 2em;
  background-color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  border: none;
  transition: background-color 150ms ease;
}

nav button:hover{
  background-color: var(--hover-color);
}

#open-sidebar-button{
  display: block;
  background:none;
  border: none;
  padding: 1em;
  margin-right: auto;
  cursor: pointer;
}
#close-sidebar-button{
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}

nav h1{
  font-size: 4em;

}
nav h2{
  font-size: 2em;
}